# first list the packages you wish to download from PyPI
teachbooks # depends on jupyter-book
jupyter-book
numpy
scipy
sympy
matplotlib
pandas
pylance
ipympl
plotly
gmsh
meshio

# docutils version for reference page formatting
docutils==0.17.1

jupyterbook_patches
git+https://github.com/TeachBooks/Sphinx-Thebe
download-link-replacer
